
/* ---- COLORS ----- */
:root {
  --backgroundColor: #111114;
  --appColor: #202020;
  --textColor: #f2f2f2;
  --fontSizeHeader: 18px;
  --linkHover: #82dd45;
}
.App {
  width:  65vw;
  margin: 5vw auto;
  background-color: var(--appColor);
  border-radius: 1vh;
  min-height: 50vh;
  padding: 1vh 4vh;
}

body {
  background-color: var(--backgroundColor);
  color: var(--textColor)
}

h1 {
  font-size: 20px;
}

a {
  color:var(--textColor);
  text-decoration: none;
}
a:hover {
  color: var(--linkHover);
}


.header {
  background-color: #282c34;
  height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vh;
  font-size: var(--fontSizeHeader);
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 30vh;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 10vh;
  background-color: #111114;
  padding: 0 3vh 0 2vh;
}

.profile img {
  margin-right: 1vh;
  border-radius: 10px;
}

.txt {
  margin-right: 2vh;
}

input {
  background-color: var(--inputFieldColor);
  margin: 1vh 2vh;
  border-radius: 10px;
  padding: 0.5vw;
  width: 50vw;
}

label {
  clear: left;
  display: inline-block;
  padding-right: 2vh;
  text-align: left;
  width: 10vw;
}