
/* ---- COLORS ----- */
:root {
  --backgroundColor: #111114;
  --appColor: #202020;
  --textColor: #f2f2f2;
  --fontSizeHeader: 18px;
  --linkHover: #82dd45;
  --buttonBackgroundColor:#252c38;
  --buttonBackgroundColorHover: #437024;
  --headerColor: #282c34;
}
.App {
  width:  65vw;
  margin: 5vw auto;
  background-color: var(--appColor);
  border-radius: 1vh;
  min-height: 50vh;
  padding: 1vh 4vh;
}

body {
  background-color: var(--backgroundColor);
  color: var(--textColor)
}

h1 {
  font-size: 20px;
}

a {
  color:var(--textColor);
  text-decoration: none;
}
a:hover {
  color: var(--linkHover);
}


.header {
  background-color: var(--headerColor);
  height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vh;
  font-size: var(--fontSizeHeader);
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 30vh;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 10vh;
  background-color: #111114;
  padding: 0 3vh 0 2vh;
}

.profile img {
  margin-right: 1vh;
  border-radius: 10px;
}

.txt {
  margin-right: 2vh;
}

input {
  background-color: var(--inputFieldColor);
  margin: 1vh 2vh;
  border-radius: 10px;
  padding: 0.5vw;
  width: 50vw;
  color: #f2f2f2;
}

label {
  clear: left;
  display: inline-block;
  padding-right: 2vh;
  text-align: left;
  width: 10vw;
}

button {
  width:5vw;
  height:2vw;
  background-color: var(--buttonBackgroundColor);
  color: #f2f2f2;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;  
  margin-bottom:1vh;
}

button:hover {
  background-color: var(--buttonBackgroundColorHover);
  color: #f2f2f2;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;

}


.rightbutton {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-end;
}

.titlebar {
  background-color: var(--headerColor);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2vh;
  margin-bottom: 3vh;
  margin-top: 2vh;
}

.titlebasic {
  background-color: var(--headerColor);
  border-radius: 10px;
  padding: 2vh;
  margin-bottom: 3vh;
}